<tbody>
  <tr>
    <% if result.class == Crime %>
      <td><%= result.offense_type.formatted %></td>
      <td><%= result.date.to_date %></td>
    <% elsif result.respond_to?(:name) %>
      <td><%= result.name %></td>
      <!-- <td><%#= result.name %></td> ADD this functionality later -->
      <td><%= Geocoder::Calculations.distance_between(result.address, address).round(2) %></td>
    <% else %>
      <td><%= result["name"] %></td>
      <td class="location-distance">
      <% r = Geocoder::Calculations.distance_between(result["location"]["formattedAddress"].join, address).round(2) %>
        <% if !r.nan? %>
          <%= r %>
        <% end %>
      </td>        
    <% end %>
  </tr>
</tbody>
