<div class="row wrapper small-12 small-centered query-box">
  <div class="small-12 small-centered columns comparison-container">
    <div class="row">
      <%= form_tag(comparisons_show_path, method: "get") do %>
      <div class="small-6 columns">
        <%= label_tag :first_address, nil, class: "address-label" %>
        <%= text_field_tag :first_address, params["first_address"], placeholder: "123 First Address St Denver, CO 80206" %>
        <input type="checkbox" name="poptars" id="poptartsyes">
      </div>
      <div class="small-6 columns">
        <%= label_tag :second_address, nil, class: "address-label" %>
        <%= text_field_tag :second_address, params["second_address"], placeholder: "456 Second Address St Denver, CO 80218" %>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <ul class="button-group">
            <h3>Choose what you want in your neighborhood</h3>
            <li><a href="javascript:void(0)" class="button category-button general">General</a></li>
            <li><a class="button category-button convenience">Convenience
              <i class="fi-compass category-icon"></i></a>
            </li>
            <li><a class="button category-button things-to-do">Things To Do
              <i class="fi-ticket category-icon"></i></a>
            </li>
            <li><a class="button category-button food-and-drink">Food & Drink
              <i class="fi-star category-icon"></i></a>
            </li>
            <li><a class="button category-button transportation">Transportation
              <i class="fi-map category-icon"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <!--convenience-group -->
      <div class="convenience-group criteria-group small-8 small-centered columns">
        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[liquor_stores]" id="query_liquor_stores">
            <label for="query_liquor_stores">LIQUOR STORES</label>
          </div>
        </div>

        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[grocery_stores]" id="query_grocery_stores">
            <label for="query_grocery_stores">GROCERY STORES</label>
          </div>
        </div>
        
        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[pharmacies]" id="query_pharmacies">
            <label for="query_pharmacies">PHARMACIES</label>
          </div>
        </div>

        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[hardware_stores]" id="query_hardware_stores">
            <label for="query_hardware_stores">HARDWARE STORES</label>
          </div>
        </div>

        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[libraries]" id="query_libraries">
            <label for="query_libraries">LIBRARIES</label>
          </div>
        </div>
      </div> 
    
      <!--general-group -->
      <div class="general-group criteria-group small-8 small-centered columns">
        <div class="category-checkbox small-centered columns">
          <div class="center ">
            <input type="checkbox" name="query[crimes]" id="query_crimes">
            <label for="query_crimes">SAFETY </label>
          </div>
        </div>
        
        <div class="category-checkbox small-centered columns">
          <div class="center ">
            <input type="checkbox" name="query[parks]" id="query_parks">
            <label for="query_parks">PARKS</label>
          </div>
        </div>
      </div> 
    
      <!--things-to-do-group -->
      <div class="things-to-do-group criteria-group small-8 small-centered columns">
        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[theaters]" id="query_theaters">
            <label for="query_theaters">THEATERS</label>
          </div>
        </div>
      
        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[movies]" id="query_movies">
            <label for="query_movies">MOVIES</label>
          </div>
        </div>

        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[museums]" id="query_museums">
            <label for="query_museums">MUSEUMS</label>
          </div>
        </div>

        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[art_galleries]" id="query_art_galleries">
            <label for="query_art_galleries">ART GALLERIES</label>
          </div>
        </div>
      </div> 
      
      <!--transportation-group -->
      <div class="transportation-group criteria-group small-8 small-centered columns">
        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[bcycle_stations]" id="query_bcycle_stations">
            <label for="query_bcycle_stations">B-CYCLE STATIONS</label>
          </div>
        </div>

        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[bus_stops]" id="query_bus_stops">
            <label for="query_bus_stops">BUS STOPS</label>
          </div>
        </div>

        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[light_rail_stops]" id="query_light_rail_stops">
            <label for="query_light_rail_stops">LIGHT RAIL STOPS</label>
          </div>
        </div>
      </div> 

      <div class="food-and-drink-group criteria-group small-8 small-centered columns">
        
        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[restaurants]" id="query_restaurants">
            <label for="query_restaurants">RESTAURANTS</label>
          </div>
        </div>

        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[bars]" id="query_bars">
            <label for="query_bars">BARS</label>
          </div>
        </div>

        <div class="category-checkbox small-centered columns">
          <div class="center">
            <input type="checkbox" name="query[coffee_shops]" id="query_coffee_shops">
            <label for="query_coffee_shops">COFFEE SHOPS</label>
          </div>
        </div>
      </div>
    </div>
    
    <div class="radius">
      <h4>Search within 
        <%= select_tag :radius, options_for_select(['0.1', '0.2', '0.3', '0.4', '0.5', '0.8', '1.0', '1.5', '2.0', '5.0'], '0.3'), class: "radius-dropdown small-1 small-centered" %> miles of each address
      </h4>
    </div>
        <%= submit_tag "COMPARE", id: "compare", class: "button radius round" %>
      <% end %>
    </div>
  </div>
</div>

