<h1><%= @first_address %></h1>
<h1><%= @second_address %></h1>
<%= @queries %>
<%# raise params.inspect %>

<ul>
  <!-- for each key that comes through in the query params, call associated method -->
  <%#= @results %>
  <% Crime.current_year.near(@first_address, 1).each do |crime| %>
    <li><%= crime.offense_type %></li>
    <li><%= crime.date %></li>
  <% end %>
</ul>

