<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Oswald:400,700' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="login-body">
    <% if user_signed_in? %>
      Remove: Signed in as <%= current_user.name %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
    <% else %>
      <%= link_to "Sign In", user_omniauth_authorize_path(:twitter) %>
    <% end %>
    <div class="row login-wrapper">
      <div class="small-12 small-centered columns"><%= yield %></div>
    </div>
  <%= javascript_include_tag "application" %>
  </body>
</htm>
